@import url('https://fonts.googleapis.com/css2?family=Yantramanav:wght@100;300;400;500;700;900&display=swap');

.App {
  overflow: hidden;
}

.h-0 {
  height: 0;
}

.h-100svh {
  height: 100svh;
}

.w-0 {
  width: 0;
}

.w-100 {
  width: 100%;
}

.h-250 {
  height: 250px;
}

.h-300 {
  height: 300px;
}

.h-400 {
  height: 400px;
}

.h-100 {
  height: 100%;
}

.opacity-1 {
  opacity: 1;
}

.opacity-0 {
  opacity: 0;
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.d-initial {
  display: initial;
}

.top-minus-9999 {
  top: -9999px !important;
}

.top-0 {
  top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Yantramanav', sans-serif;
  margin: 0;
}

input,
textarea {
  overflow: visible;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
  box-shadow: 0 0 3px #00000024;
}

a {
  text-decoration: none;
}

@media(min-width: 600px) {
  .w-md-50 {
    width: 50%;
  }
}

@media(max-width: 600px) {
  .w-sm-100 {
    width: 100%;
  }
}