.Services {
    position: relative;
    bottom: 100px;
}

.Services h1 {
    font-size: 24px;
    text-align: center;
    color: #5e7f7d;
}

.Services p {
    width: 600px;
    font-size: 14px;
    text-align: center;
    color: #272727;
    line-height: 25px;
}

.service-image {}

@media(max-width: 630px) {
    .Services {
        padding: 0;
    }

    .Services p {
        width: calc(100% - 2rem);
        margin: .5rem 1rem;
    }
}

@media(max-width: 450px) {
    .Services h1 {
        margin: 0 1rem;
    }
}