.OurWork {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-work-wrapper {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-work-title {
    margin-bottom: 3rem;
}

.OurWork h1 {
    font-size: 24px;
    text-align: center;
    color: #5e7f7d;
}

.OurWork p {
    width: 600px;
    font-size: 14px;
    text-align: center;
    color: #272727;
    line-height: 25px;
}

.OurWork img {
    box-shadow: 0 0 8px #00000054;
    border-radius: 12px;
    margin: 0 1rem;
}

.OurWork button {
    display: none;
}

@media(min-width: 1000px) {
    .OurWork img {
        width: calc(25% - 2rem);
    }
}

@media(max-width: 1000px) {
    .OurWork img {
        width: calc(50% - 2rem);
        margin: 1rem;
    }
}

@media(max-width: 630px) {
    .OurWork p {
        width: 100% !important;
    }
}

@media(max-width: 425px) {
    .our-work-wrapper {
        margin: 0 1rem;
    }

    .our-work-images {
        display: flex;
        align-items: center;
    }

    .carousel-wrapper {
        display: flex;
        position: relative;
        overflow-x: hidden;
    }

    .OurWork img {
        width: calc(100% - 2rem);
        margin: 1rem;
        position: relative;
        transition: right .5s ease-in-out;

    }

    .OurWork button {
        display: block;
        border: 0;
        background-color: transparent;
    }
}