.OurWork {
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.our-work-wrapper {
    margin: 0 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-work-title {
    margin-bottom: 3rem;
}

.OurWork h1 {
    font-size: 24px;
    text-align: center;
    color: #5e7f7d;
}

.OurWork p {
    width: 600px;
    font-size: 14px;
    text-align: center;
    color: #272727;
    line-height: 25px;
}

.OurWork img {
    box-shadow: 0 0 8px #00000054;
    border-radius: 12px;
    width: 350px;
}

@media(max-width: 630px) {
    .OurWork p {
        width: 100%;
    }
}

@media(max-width: 400px) {
    .our-work-wrapper {
        margin: 0 1.5rem;
    }

    .OurWork img {
        width: 100%;
    }
}