.Contact {
    background-color: #e9e9e9;
    position: relative;
    bottom: 75px;
}

.Contact h1 {
    font-size: 32px;
    color: white;
}

.contact-banner {
    height: 500px;
    width: 100lvw;
    background-image: url('../../../assets/contact-bg-1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-banner h1 {
    text-align: center;
    color: #647f7d;
    font-size: 28px;
    text-shadow: 0 0 20px rgb(255, 255, 255);
}

.contact-wrapper {
    margin: 0 1rem;
    position: relative;
    bottom: 200px;
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
}

.hours {
    padding: 2rem;
    background-color: #617f7d;

}

.hours h1 {
    font-size: 24px;
}

.hours p {
    margin: 0;
    color: white;
    font-size: 14px;
}

.hours button {
    margin: 1rem 0 0 0;
    padding: .75rem 1rem;
    font-size: 14px;
}

.week {
    padding: 2rem 0;
}

.day {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    border-bottom: 1px solid white;
    color: white;
}

.day span:last-child {
    color: #ffffff87;
}

.form-container {
    background-color: white;
    padding: 2rem 2rem 3rem 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container h1 {
    padding: 1rem;
    padding-top: 0;
    font-size: 24px;
    text-align: center;
    border-bottom: 1px solid #dbdbdb;
    color: #647f7d;
    width: 100%;
}

.form-container img {
    margin-top: 3rem;
}

.form-container p {
    line-height: 28px;
    padding: 1rem 0;
    color: #292929;
}

input {
    padding: .65rem;
}

form {
    display: flex;
    flex-direction: column;
}

form input:first-child {
    margin: .5rem 0;
}

form textarea {
    margin: .5rem 0;
    padding: .75rem;
}

form button {
    padding: .65rem;
    border-color: #647f7d;
    background-color: #617f7d;
    color: white;
    text-decoration: none;
    margin-bottom: 1rem;
}

@media(min-width: 1280px) {
    .contact-wrapper {
        flex-direction: row;
        align-items: center;
    }

    .hours {
        width: 400px !important;
        position: relative;
        left: 10px;
    }

    .form-container {
        width: 700px !important;
        flex-direction: row;
        justify-content: center;
        position: relative;
        flex-wrap: wrap;
        right: 10px;
    }

    .form-container img {
        margin-top: 0;
    }

    .form-container p {
        width: 350px;
    }

    form {
        width: 50% !important;
    }

    .form-container img {
        width: 230px;
        padding: 2rem;
    }
}

@media(min-width: 1000px) {}

@media(min-width: 500px) {

    .contact-wrapper {
        align-items: center;
    }

    .hours,
    .form-container {
        width: 50%;
    }

    form {
        width: 100%;
    }
}

@media(max-width: 950px) {
    .form-container img {
        width: 100%;
    }

    .form-container form {
        width: 100%;
    }

    .form-container button {
        margin: 0 auto;
        display: flex;
    }
}

@media(max-width: 320px) {
    .contact-banner {
        width: 100%;
    }
}